@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the store</h1>
    <p>Please take a look around our store, we have lots of products you might be interested in. Take advantage of our flash sales and grab yourself a bargain!</p>
</div>

<div class="row">
    <h1>Special Offers</h1>
    <p>Special offers are below.</p>
</div>

<div class="row">
    <h1>Popular Products</h1>
    <p>Our popular products are listed below.</p>
</div>